@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Itim&family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Bakbak+One&family=Itim&family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Bakbak+One&family=IM+Fell+Great+Primer+SC&family=Itim&family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Bakbak+One&family=IM+Fell+Great+Primer+SC&family=Itim&family=Junge&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color: black;
    overflow-x: hidden;
    color: white;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 10;
}

header>nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header>nav>div:first-child>a>img{
    width: 150px;   /* Converted from 150px = 7.8125vw */
    height: 30px;  /* Converted from 30px = 2.7778vh*/
}

header>nav>div:nth-child(2)>ul>li{
    list-style: none;
    display: inline;
    margin-left: 50px;

}
header>nav>div:nth-child(2)>ul>li>a{
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: 250;
    font-size: 23px;
    line-height: 38px;
    text-decoration: none;
    margin: 0 2px;
    color: #FFFFFF;
}
header>nav>div:nth-child(2)>ul>li>a:hover{
    color: #08ba17;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
#Home .squareDesign{
    position: absolute;
    background-image: url("/assets/images/squareDesign.png");
    background-size: cover;
    width: 260px;
    height: 246px;
    top: 30em;
    left: 12em;
    opacity: 60%;
    z-index: -1;
}
#Home .dots{
    background-image: url("/assets/images/dots.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5em;
    left: -1.5em;
    z-index: -1;
}
#Home .blurSquare{
    background-image: url("/assets/images/blurSquare.png");
    background-size: cover;
    width: 80px;
    height: 150px;
    position: absolute;
    top: 25em;
    right: 1em;
    z-index: -1;
}

#Home {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
}
#Home section:nth-child(1){
    display: flex;
    justify-content: end;
    align-items: start;
    text-align: right;

}
#Home section:nth-child(1)>div:first-child>h1{
    font-family: "Bakbak One", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    color: #08ba17;
}
#Home section:nth-child(1)>div:first-child>h2{
    font-family: "IM Fell Great Primer SC", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}
#Home section:nth-child(1)>div:first-child>h3{
    font-family: "Kaushan Script", cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 35px;
}
/*#Home section:nth-child(1)>div:nth-child(2)>img{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}*/
#Home section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
#Home img{
    width: 450px;
    height: 570px;
    border-radius: 50px;
    align-items: center;
}
#Home section:nth-child(2)>h3{
    background-color: #08ba17;
}
#Home section:nth-child(3)>div>h3:first-child{
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}
#Home section:nth-child(3)>div>h3:nth-child(2){
    font-size: 36px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #08ba17;
}
#Home section:nth-child(3)>div>article{
    width: 350px;
    height: 200px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
#Home section:nth-child(3)>div>h2{
    font-family: "Inter", sans-serif;
    font-style: normal;
    text-align: left;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
    /*color: ;*/
}
#Home section:nth-child(3)>div>h3:last-child{
    font-family: "Kaushan Script", cursive;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    font-size: 45px;
    margin: 0px;
    color:#08ba17 ;
}
body > nav {
    display: flex;
    justify-content: center; /* Center horizontally */
}
body>nav>a>button{
    background-color: #000; /* Black background */
    color: white; /* White text */
    padding: 15px 25px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 40px; /* Round corners */
    font-family: 'Comic Sans MS', sans-serif; /* Font style */
    font-size: 15px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.5s ease; /* Smooth transition */
}

body>nav>a>button:hover {
    background-color: #333; /* Darker background on hover */
}

/* About Styles */
#About {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
}

#About #AboutSec1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#About>#AboutSec2{
    width: 500px;
    height: 600px;
    margin-top: 5em;
    text-align: left;
}

#About h2 {
    position: absolute;
    font-size: 3em;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    margin-left: 1.7em;
}

#About #AboutSec1>img{
    margin-top: 7em;
    width: 450px;
    height: 550px;
    border-radius: 2em;
    margin-left: 8em;
}
#About>#AboutSec2>p:nth-child(1){
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: #08ba17;
}

#About>#AboutSec2>p:nth-child(2){
    font-family: "Inter", serif;
    font-size: 20px;
}
#About>#AboutSec2>p:nth-child(3){
    font-family: "Inter", serif;
    font-size: 20px;
}

#About>#AboutSec2>button{
    position: absolute;
    font-family: "Sen", sans-serif;
    font-weight: bolder;
    font-style: normal;
    margin-top: 50px;
    color: white;
    background-color:#08ba17 ;
    padding: 13px 21px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 10px; /* Font style */
    font-size: 20px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.5s ease;
}


/* Education styles */

#circle{
    position: absolute;
    top: 8em;
    left: 46em;
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 4px solid #08ba17;
}

#lineMid{
    position: absolute;
    top: 9.5em;
    left: 45.4em;
    width: 2px;
    height: 550px;
    background-color: #ffffff;
    margin: 0 20px;
}

#line1{
    position: absolute;
    top: 10.5em;
    left: 46.8em;
    width: 141px;   /* Adjust the width of the line */
    height: 2px;   /* Height of the line */
    background-color: #ffffff;   /* Line color */
    margin: 20px 0;
}


#line2{
    position: absolute;
    top: 19em;
    left: 39em;
    width: 122px;   /* Adjust the width of the line */
    height: 2px;   /* Height of the line */
    background-color: #ffffff;   /* Line color */
    margin: 20px 0;
}

#line3{
    position: absolute;
    top: 28em;
    left: 46.8em;
    width: 141px;   /* Adjust the width of the line */
    height: 2px;   /* Height of the line */
    background-color: #ffffff;   /* Line color */
    margin: 20px 0;
}

#line4{
    position: absolute;
    top: 36em;
    left: 39em;
    width: 122px;   /* Adjust the width of the line */
    height: 2px;   /* Height of the line */
    background-color: #ffffff;   /* Line color */
    margin: 20px 0;
}

#Education {
    position: relative;
    height: 720px;
}

#Education h2 {
    position: relative;
    font-size: 3em;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    margin-left: 1.7em;
}

#Education section{
    position: absolute;
}

#Education section>div{
    width: 350px;
    height: fit-content;
    border: white solid 2px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

#Education #ol{
    position: relative;
    left: 55em;
    top: 1em;
}

#Education #al{
    position: relative;
    left: 15em;
    top: -2em;
}

#Education #he{
    position: relative;
    left: 55em;
    bottom: 1em;
}

#Education #other{
    position: relative;
    left: 15em;
    bottom: 2em;
}

/* Skills Styles */

#Skills {
    position: relative;
}

#Skills h2 {
    position: relative;
    font-size: 3em;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    margin-left: 1.7em;
}

#Skills section{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
}

#Skills h3{
    font-size: 35px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

#Skills section>div>img{
    width: 100px;
    aspect-ratio: 1/1;
    margin: 20px;
}

#Skills section>div:first-child{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-content: center;
}

/* Services Styles*/

#Services{
    display: grid;
    align-items: center;
}

#Services h2{
    position: relative;
    font-size: 3em;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    margin-left: 1.7em;
}

#Services section{
    height: 500px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
}

.item{
    width: 250px;
    height: 370px;
    text-align: center;
    background-color: #272727 ;
    border: 2px solid white;
    box-shadow: 5px 5px 5px white;
    padding: 20px;
    border-radius: 25px;
    transition: 1s;
}

/*image center*/
.item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    aspect-ratio: 1/1;
}

.item h3{
    text-align: center;
    font-family: 'Itim', cursive;
    font-weight: bolder;
    font-size: 25px;
}

.item p{
    font-family: 'Itim', cursive;
    font-size: 15px;
}

/* Works Styles */

#Works h3 {
    position: relative;
    font-size: 3em;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    margin-left: 1.7em;
}

/* Projects Styles */
#Projects h4{
    font-size: 35px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    margin-bottom: 0;
    font-style: normal;
}

#Projects {
    display: grid;
    justify-items: center;
    row-gap: 3em;
}

/* Card styling */
#Projects .card {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #272727;
    max-width: 800px;
}

/* Card text section */
#Projects .card-content {
    padding: 20px;
    flex: 1;
}

#Projects .card-content h5 {
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: "Istok Web", sans-serif;
    font-weight: bolder;
    font-style: normal;
}

#Projects .card-content p {
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-bottom: 15px;
}

#Projects .card-content a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    font-size: 0.9rem;
}

#Projects .card-content a:hover {
    background-color: #0056b3;
}

/* Image section */
#Projects .card-image {
    width: 40%;
    overflow: hidden;
}

#Projects .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Assignments Styles */
#Assignments {
    display: grid;
    justify-items: center;
    row-gap: 3em;
}

#Assignments h4{
    font-size: 35px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    margin-bottom: 0;
    font-style: normal;
}
#Assignments article{
    display: grid;
    justify-items: center;
    row-gap: 3em;
    column-gap: 3em;
    grid-template-columns: repeat(2,1fr);
}
/* Card container */
#Assignments .card {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #363636;
    max-width: 550px;
}
/* Card image section */
#Assignments .card-image {
    width: 40%;
}

#Assignments .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card text section */
#Assignments .card-content {
    padding: 20px;
    flex: 1;
}

#Assignments .card-content h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#Assignments .card-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

#Assignments .card-content a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    font-size: 0.9rem;
}

#Assignments .card-content a:hover {
    background-color: #0056b3;
}
/* Contact Styles*/
#Contact{
    position: relative;
}

#Contact section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#Contact section>#form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#Contact h3 {
    position: relative;
    font-size: 3em;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    margin-left: 1.7em;
}
#Contact #form div>label{
    margin-left: 20px;
    font-size: 18px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}
#Contact #form div>input,textarea{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px ;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #363636;
    outline: none;
    border: none;
    resize:none;
    width: 300px;
    height: 10px;
    padding: 15px;
}
#Contact #form div>textarea{
    width: 400px;
    height: 100px;
}

#Contact #form button{
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    background-color:#08ba17 ;
    padding: 8px 17px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#Contact section>#find{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    height: 500px;
}
#Contact #find>div:first-child{
    h2{
        font-family: "Sen", sans-serif;
        font-weight: lighter;
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    p{
        font-family: "Inter", sans-serif;
        font-weight: lighter;
        font-size: 18px;
        margin-top: 0;
    }
    background-color: #034108;
    border-radius: 30px;
    width: 350px;
    height: 180px;
    padding: 30px;
}
#Contact #find>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 40px;
    justify-items: center;
    align-items: center;
    img{
        width: 40px;
        aspect-ratio: 1/1;
        transition: 0.5S;
    }
    img:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}
#Contact .seeGallery{
    position: relative;
    left: 43em;
    background-color: #000;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 40px;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

/* Gallery Styles*/

#Gallery {
    position: relative;
}
#Gallery h2{
    position: relative;
    font-size: 3em;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    margin-left: 1.7em;
}
#Gallery section{
    display: grid;
    justify-content: center;
}
#Gallery section>img:nth-child(1){
    position: relative;
    width: 25%;
    left: 12%;
}
#Gallery section>img:nth-child(2){
    position: relative;
    width: 25%;
    left: 12%;
}
#Gallery section>img:nth-child(3){
    position: absolute;
    width: 15%;
    left: 37%;
}
#Gallery section>img:nth-child(4){
    position: absolute;
    width: 35.5%;
    left: 52%;
}
#Gallery section>img:nth-child(5){
    position: absolute;
    height: 40%;
    top: 49%;
    left: 37%;
}

#Gallery section>img:nth-child(6){
    position: absolute;
    height: 40%;
    top: 49%;
    left: 71.5%;
}

footer{
    display: flex;
    justify-content: center;

    p{
        font-size: 1.5em;
    }
}
